.form-control ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.form-control ul li {
  margin-bottom: 12px;
  margin-right: 20px;
}

.form-control ul li a img {
  margin-bottom: 5px;
}

.form-control ul li input ~ label{
  margin-left: 5px;
  display: inline-block;
  font-size: 12px;
  line-height: 19px;
  vertical-align: text-top;
}

.js-auxhr-list {
  padding-left: 0;
  list-style: none;
}

.js-auxhr-list li {
  text-align: right;
}


.header-bottom a:first-of-type {
  margin-bottom: 16px;
}
.logoIcon {
}
.logoIcon .logoWeb{
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/logo.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.js-active-form-result {
  padding-bottom: 20px;
  color: green;
}